body{
			background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../diam.jpg) no-repeat;
	        background-size: cover;
			text-align: center;
			font-family: Century Gothic;
		}
h1 {
	color: white;
	font-size: 50px;
}
h2 {
	color: white;
}

p {
	color: yellow;
}

footer {
	color: white;
	position: relative;
	transform: translate(-1%,-1%);


}